body {
	position:relative;
	overflow-x:hidden;
	background-color:white;
	left:0;
	width:100%;

	background-color:rgb(245,245,245);
}

#Wrapper {
}

#Header {
	position:fixed;
	width:100%;
	height:50px;
	top:0;
	left:0;
	overflow:hidden;
	z-index:9999;
	
	background-color:white;
}

#Header a {
	/*TEXT PROPERTIES*/
	transition-duration: .25s;
	color:rgb(15,15,15);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:16px;
	font-weight:500;
	letter-spacing:1px;
	
	/* POSITION PROPERTIES */
	margin-left:20px;
	margin-right:20px;
	width:115px;
}

#Header #LogoImage {
	position:absolute;
	left:1%;
	top:5px;
	max-height: 85%;
	width: auto;
	
}

#Header #NavButtonDiv {
	padding:5px;
	
	position:relative;
	left:0;
	width:100%;
	text-align:center;
	top:12px;
	}

#Header #NavButtonDiv a {
}

#Header #NavButtonDiv a:hover {
	color:rgb(75,75,75);
}

#Header #DonateButton {
	color:white;
	font-weight:900;
	background-color:#a00909;
	letter-spacing:0px;
	
	float:right;
}

#Header #DonateButton:hover {
	color:rgb(200,200,200);
	background-color:#701919;
}

/* First image on page */
#PageImage1 {
	position:relative;
	width:90%;
	height:auto;
	margin-top:40px;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:0;

}

/* Values box */
#RedBox1 {
	position:relative;
	background-color:#BC2014;
	height:54px;
	width:95%;
	margin-top:0;
	margin-left:2.5%;
	
	font-size:48px;
	text-align:center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/* Headshot image */
#PageImage2 {
	position:relative;
	margin-left:5%;
}

#Footer {
	background-color:rgb(100,100,100);
	height: 0px;
}