/*

Red Color: #BB1F14
Blue Color: #051CA1
 
*/

body {
	width:100%;
	height:2000px;
	padding:0;
	margin:0;
}

#Wrapper {
}

/** ------------------------HEADER------------------------------------**/

#Header {
	
}

#AboveHeaderDiv {
	position:relative;
	left:0px;
	width:100%;
	height:56px;
	background-image:url("logo.png");
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}

#Navbar {
	position: -webkit-sticky;
	position: sticky;
	top:0;
	padding:0px;
	height:48px;
	z-index:9999;
	
	background-color:#FFFFFF;
	border-bottom:solid black 2px;
}

#Navbar a {
	/*TEXT PROPERTIES*/
	transition-duration: .25s;
	color:rgb(15,15,15);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:18px;
	font-weight:500;
	letter-spacing:1px;
	
	
	/* POSITION PROPERTIES */
	position:relative;
	top:15px;
	margin-left:15px;
	margin-right:15px;

}

#Navbar a:hover {
	transition-duration: .25s;
	color:rgb(75,75,75);
}

 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 